:root {
  --cor-laranja: #f15d36;
  --cor-laranja-botao-hover: rgb(216, 88, 53);
  --cor-branco: #ffffff;
  --cor-preto: #222222;
  --cor-azul-link: #208fde;
  --cor-placeholder: #717171;
  --cor-azul-bg: #011456;
  --cor-azul-nav: #001665;
  --cor-cinza-oficina: #3d3d3d;
  --cor-cinza-borda: #595959;
  --cor-bg-input: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.header-bg {
  background: var(--cor-azul-nav);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 35px 50px;
  max-width: 1200px;
}

.header-logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cor-branco);
}

.logo {
  color: var(--cor-branco);
}

.logo-laranja {
  color: var(--cor-laranja);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-menu li a {
  color: var(--cor-branco);
  display: inline-block;
  padding: 10px 0;
  font-size: 16px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  background: var(--cor-laranja);
  height: 3px;
  width: 0;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.2s;
}

.segmentos {
  display: flex;
  align-items: center;
  gap: 5px;
}

.botao {
  display: inline-block;
  background: var(--cor-laranja);
  color: var(--cor-branco);
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.botao:hover {
  background: var(--cor-laranja-botao-hover);
  transition: 0.2s;
}

/* Main */

.main-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  background: var(--cor-azul-bg);
  padding: 0 30px 0 30px;
}

.main {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.main-esquerda {
  display: grid;
  gap: 90px;
  position: relative;
}

.titulo {
  color: var(--cor-branco);
  font-size: 22px;
}

.titulo-e-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo-oficina-bg {
  display: flex;
  align-items: center;
  gap: 2px;
  background: var(--cor-branco);
  color: var(--cor-cinza-oficina);
  padding: 0 10px;
  border-radius: 8px;
}

.titulo-oficina-bg img {
  width: 32px;
}

.titulo-oficina {
  display: flex;
  gap: 5px;
  align-items: center;
}

.titulo-chave {
  display: flex;
  position: relative;
}

.titulo-chave h1::after {
  content: url("../imgs/chave-de-fenda.png");
  display: inline-block;
  transform: scale(0.7);
  position: absolute;
  top: -20px;
}

.subtitulo {
  color: var(--cor-branco);
  font-size: 16px;
  font-weight: 300;
}

.main-check {
  color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 300;
}

.check-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-img {
  display: flex;
  justify-content: center;
  position: relative;
  right: 70px;
}

.main-img img {
  max-width: 125%;
}

.main-direita {
  background: var(--cor-branco);
  display: grid;
  grid-template-columns: 1fr;
  padding: 35px 35px;
  justify-content: center;
  gap: 25px;
  border-radius: 20px;
  max-width: 470px;
}

.main-direita h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}

.gratis {
  color: var(--cor-azul-link);
  text-decoration: underline;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-inputs input[type="text"],
.form-inputs select {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--cor-cinza-borda);
  background: var(--cor-bg-input);
}

.form-inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url("../imgs/Setinha-cinza.svg");

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;

  border: 1px solid var(--cor-cinza-borda);
  color: var(--cor-cinza-oficina);
  border-radius: 4px;
  padding: 10px;
  padding-right: 30px;
  font-size: 14px;
  cursor: pointer;

  font-weight: 500;
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.form-checkbox input[type="checkbox"] {
  accent-color: var(--cor-laranja);
  flex-shrink: 0;
  margin-top: 3px;
  width: 16px;
  height: 16px;
}

.form-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-button span {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 1400px) {
  .main {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 100px;
  }
  .main-bg {
    align-items: center;
    background-image: url("../imgs/mecanico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
  }
  .main-img {
    display: none;
  }
}
