:root {
  --cor-laranja: #f15d36;
  --cor-laranja-botao-hover: rgb(216, 88, 53);
  --cor-branco: #ffffff;
  --cor-preto: #222222;
  --cor-azul-link: #208fde;
  --cor-placeholder: #717171;
  --cor-azul-bg: #011456;
  --cor-azul-nav: #001665;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.header-bg {
  background: var(--cor-azul-nav);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 35px 10px;
  max-width: 1200px;
}

.header-logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cor-branco);
}

.logo {
  color: var(--cor-branco);
}

.logo-laranja {
  color: var(--cor-laranja);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-menu li a {
  color: var(--cor-branco);
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.segmento {
  position: absolute;
}

.segmentos::after {
  content: url("../imgs/Setinha.svg");
}

.botao {
  display: inline-block;
  background: var(--cor-laranja);
  color: var(--cor-branco);
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
}

.botao:hover {
  background: var(--cor-laranja-botao-hover);
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }
}
