:root {
  --cor-laranja: #f15d36;
  --cor-laranja-botao-hover: rgb(216, 88, 53);
  --cor-branco: #ffffff;
  --cor-preto: #222222;
  --cor-azul-link: #208fde;
  --cor-placeholder: #717171;
  --cor-azul-bg: #011456;
  --cor-azul-nav: #001665;
  --cor-cinza-oficina: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.header-bg {
  background: var(--cor-azul-nav);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 35px 10px;
  max-width: 1200px;
}

.header-logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cor-branco);
}

.logo {
  color: var(--cor-branco);
}

.logo-laranja {
  color: var(--cor-laranja);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-menu li a {
  color: var(--cor-branco);
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.segmento {
  position: absolute;
}

.segmentos::after {
  content: url("../imgs/Setinha.svg");
}

.botao {
  display: inline-block;
  background: var(--cor-laranja);
  color: var(--cor-branco);
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
}

.botao:hover {
  background: var(--cor-laranja-botao-hover);
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }
}

/* Main */

.main-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  background: var(--cor-azul-bg);
  padding: 0 30px 0 30px;
}

.main {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.main-esquerda {
  display: grid;
  gap: 90px;
  position: relative;
}

.titulo {
  color: var(--cor-branco);
  font-size: 22px;
}

.titulo-e-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo-oficina-bg {
  display: flex;
  align-items: center;
  gap: 2px;
  background: var(--cor-branco);
  color: var(--cor-cinza-oficina);
  padding: 0 10px;
  border-radius: 8px;
}

.titulo-oficina {
  display: flex;
  gap: 5px;
  align-items: center;
}

.titulo-chave {
  display: flex;
  position: relative;
}

.titulo-chave h1::after {
  content: url("../imgs/chave-de-fenda.png");
  display: inline-block;
  transform: scale(0.7);
  position: absolute;
  top: -20px;
}

.subtitulo {
  color: var(--cor-branco);
  font-size: 16px;
  font-weight: 300;
}

.main-check {
  color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 300;
}

.check-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-img {
  display: flex;
  justify-content: center;
  position: relative;
  right: 70px;
}

.main-img img {
  max-width: 125%;
}
